@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'rules';

.sidebar-header {
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__title {
    color: #000;
    margin-left: 8px;
    margin-right: 4px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 0.26px;
  }

  &__version {
    color: #838383;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.1px;
  }
}

.sidebar-navigate {
  flex: 1 0 auto;

  &__item {
    margin-bottom: 19px;
    max-width: 250px;
  }

  &__link {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
  }

  &__link.active .navigate-icon {
    stroke: white;
    fill: #5932EA;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

}

.active {
  background-color: #5932EA;
  cursor: default;
}

.active .navigate-text {
  color: white;
}

.navigate-icon {
  stroke: #9197B3;
  margin-left: 11px;
}

.navigate-text {
  margin-left: 14px;
  color: #9197B3;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.navigate-arrow {
  margin-right: 8px;
  stroke: #9197B3;
  fill: white
}

.sidebar-footer {
  height: 118px;
  width: 100%;
  margin: 0 auto;

  &__avatar {
    display: flex;
    align-items: center;
  }

  &__info {
    margin-left: 12px;
  }

  &__name {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
  }

  &__position {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
}

.content {
  padding-top: 41px;

  &__title {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 51px;
  }

  &__block {
    width: 100%;
    border-radius: 26px;
    background-color: white;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.50);
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &__header-title {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.22px;
  }

  &__header-text {
    color: #16C098;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
  }

  &__header-right {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #F9FBFF;
    padding-right: 8px;
    width: 216px;
    height: 38px;

  }

  &__header-label {
    margin: 7px 8px;
  }

  &__header-search {
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    letter-spacing: -0.12px;
  }
}

.data {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;

  &__table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns:
      minmax(130px, 1.5fr) minmax(80px, 1.2fr) minmax(120px, 1.2fr) minmax(180px, 1.2fr) minmax(100px, 1.2fr) minmax(80px, 80px)
  }

  & thead,
  & tbody,
  & tr {
    display: contents;
  }

  &__th {
    color: #B5B7C0;
    padding-bottom: 14px;
    border-bottom: 1px solid eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }

  &__td-text {
    color: #292D32;
    padding: 23px 0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__td-btn {
    display: flex;
    align-items: center;
  }

  &__row-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 29px;
    border-radius: 4px;
    cursor: pointer;
  }

  &__row-button:hover {
    scale: 1.05;
  }

  &__footer-text {
    color: #B5B7C0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
  }

  &__footer-pagination {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.btn {
  &__active {
    color: #008767;
    border: 1px solid #00B087;
    background: rgba(22, 192, 152, 0.38);
  }

  &__inactive {
    color: #DF0404;
    border: 1px solid #DF0404;
    background: #FFC5C5;
  }
}

.pagination-btn {
  width: 26px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #EEE;
  background-color: #F5F5F5;
  color: #404B52;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.12px;
  cursor: pointer;

  &.active {
    border: 1px solid #5932EA;
    background: #5932EA;
    color: white;
    cursor: default;

    &:hover {
      scale: 1;
    }
  }

  &:hover {
    scale: 1.2;
  }
}

.card {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(232, 226, 220);
  padding: 10px !important;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: #757575;

  &__cell {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    border-bottom: #9fa5ae 1px solid;
  }

  &__data {
    color: #353434;
  }

  &__btn {
    width: 100%;
    display: flex;
    align-items: center;

    margin-top: 8px;
    justify-content: flex-end;
  }
}